html {
  background-color: #23646;
}

header {
  position: fixed;

  /*width:100%;*/
  top: 0;

  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;

  /*background-color: #23646b;*/
  background-color: white;
}

#logo_header {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

#logo_header img {
  width: 140px;
  height: 130px;
}

#titre_principal {
  display: flex;
  flex-direction: column;
}

#bloc_page {
  /* margin: 1%;*/
  align-content: center;

  /*margin:auto;*/
  width: auto;

  font-weight: 300;
  font-family: Helvetica Neue;
}

#loupe {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  width: 20px;
  height: 20px;
}

#bloc_page nav ul {
  display: flex;

  list-style-type: none;
}

#bloc_page nav li {
  margin-right: 15px;
}

#bloc_page nav a {
  padding-bottom: 3px;

  color: #181818;
  font-size: 1.3em;
  text-decoration: none;
}

#bloc_page nav a:hover {
  color: #439aa8;

  border-bottom: 3px solid #439aa8;
}

#logo_footer {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

body {
  font-weight: 300;
  font-family: Helvetica Neue;

  /*margin-top:0px;*/
}

footer {
  min-height: 100%;
  margin: auto;

  color: #ffffff;
  font-weight: 300;
  font-family: Helvetica Neue;
}

#footer_html {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  padding: 30px;

  column-count: 5;

  background: #39565c;
}

.column {
}

.column img {
  width: 140px;
  height: 130px;
}

#footer_html h2 {
  margin-top: 40%;
  margin-bottom: 12px;

  font-size: 16px;
}

#footer_html ul {
  margin-bottom: 0;
  padding: 0;

  font-size: 14px;
  line-height: 1.6;

  list-style: none;
}

#footer_html ul a {
  color: inherit;
  text-decoration: none;

  opacity: 0.8;
}

#footer_html ul a:hover {
  opacity: 1;
}

#contenu {
  margin: 0;

  text-align: justify;
}

#copyright {
  padding: 1px;

  text-align: center;

  background: #535353;
}



.cadre_inscription {
  display: block;
  width: 50%;
  height: 70%;
  margin: 6% auto;
  padding: 10px;
  padding-top: 40px;
  padding-right: 30px;
  padding-bottom: 40px;
  padding-left: 20px;

  text-align: left;

  background-color: #fff;
  border: 1px solid grey;
  border-radius: 20px 20px;
}



#footer {
  text-align: center;


  background-color: #23646b;
  border: 2px solid black;
}


#centre_page {
  align-content: center;
  width: 100%;
  margin: auto;
  text-align: center;
  background-image: url('patrouille.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}


input {
  width: 85%;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-right: 80px;
  padding-bottom: 10px;
  padding-left: 20px;

  border: 1px solid grey;
  border-radius: 20px 20px;
}

strong { 
  font-size: 150%;
 }

.valider {
  display: block;

  align-items: center;
  margin-top: 2%;
  margin-right: 35%;
  margin-bottom: 1%;
  margin-left: 35%;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  color: white;
  font-size: medium;
  letter-spacing: 1.5px;
  text-decoration: none;
  background-color: #23646b; 
  border: 1px solid #23646b;
  border-radius: 10px 10px;
}

/* CSS COMMUN*/
html {
  background-color: #23646;
}

header {
  position: fixed;

  /*width:100%;*/
  top: 0;

  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;

  /*background-color: #23646b;*/
  background-color: white;

}

#logo_header {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

#logo_header img {
  width: 140px;
  height: 130px;
}

#titre_principal {
  display: flex;
  flex-direction: column;
}

#bloc_page {
  /* margin: 1%;*/
  align-content: center;

  /*margin:auto;*/
  width: auto;

  font-weight: 300;
  font-family: Helvetica Neue;
}

#loupe {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  width: 20px;
  height: 20px;
}

#bloc_page nav ul {
  display: flex;

  list-style-type: none;
}

#bloc_page nav li {
  margin-right: 15px;
}

#bloc_page nav a {
  padding-bottom: 3px;

  color: #181818;
  font-size: 1.3em;
  text-decoration: none;
}

#bloc_page nav a:hover {
  color: #439aa8;

  border-bottom: 3px solid #439aa8;
}

#logo_footer {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

body {
  font-weight: 300;
  font-family: Helvetica Neue;
  background-image: url("./patrouille.jpg") width:1000px height:667px;

}


footer {
  min-height: 100%;
  margin: auto;

  color: #ffffff;
  font-weight: 300;
  font-family: Helvetica Neue;
}

#footer_html {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  padding: 30px;

  column-count: 5;

  background: #39565c;
}

.column {
}

.column img {
  width: 140px;
  height: 130px;
}

#footer_html h2 {
  margin-top: 40%;
  margin-bottom: 12px;

  font-size: 16px;
}

#footer_html ul {
  margin-bottom: 0;
  padding: 0;

  font-size: 14px;
  line-height: 1.6;

  list-style: none;
}

#footer_html ul a {
  color: inherit;
  text-decoration: none;

  opacity: 0.8;
}

#footer_html ul a:hover {
  opacity: 1;
}

#contenu {
  margin: 0;

  text-align: justify;
}

#copyright {
  padding: 1px;

  text-align: center;

  background: #535353;
}

/* CSS COMMUN */

/* Page Ticket */ 
.box {
  padding-top: auto;
  display: flex;
  justify-content: space-around; 
}
.elements {
  margin-top: 50px;
  background-color: white;
  height: 50%;
  width: 20%;
  border-color: grey;
  border-style: solid;
  border-radius: 2vw; 
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  margin-bottom: 1.5%;
  padding: 1.5%;
  font-family:'Helvetica Neue';
  text-align: center; 

}

.elements h4 {
  margin: 0;
  font-size: 150%;
  font-family:'Helvetica Neue';
}


button{
  font-family:'Helvetica Neue';
  background-color: grey;
  border-color: grey;
  border-radius: 5px; 
  border-style: solid;
  color : white;
  height: 40px;
  width: 100px;
  margin-bottom: 20px;
  margin-top: 20px;
}

/* ajouter un ticket */ 

input{
  width: 50%;
  height: 30%;
  font-size: 30px;
}