:root {
  --red: red;
}

* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  display: flex;
  flex-direction: row;

  /* font-size: 18px; */
  flex-grow: auto;

  height: 100vh;
  margin: 0;
  padding: 0;
  overflow-y: auto;

  background-color: #f4f4f4;
}

nav {
  flex-shrink: 0;

  /*Flex properties*/
  order: 1;
  padding: 15px;

  color: white;

  background-color: #5b9bd6;
}

nav img {
  height: 150px;
}

section {
  display: flex;
  flex-direction: column;
  flex-grow: 4;
  order: 2;
  height: 100%;
  overflow: auto;
}

content {
  padding: 30px;
  padding-right: 20px;
}

h1 {
  margin-bottom: 30px;

  /* font-size: 35px; */
}

h2 {
  margin-bottom: 20px;

  /* font-size: 25px; */
}

body h2 {
  margin-top: 40px;
}

h3 {
  margin-top: 20px;

  font-size: 30px;
}

nav {
  height: 100%;
  overflow: auto;
}

nav p {
  color: white;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
}

li {
  list-style: none;
}

ul {
  padding: 0;
}

nav #menu li:hover {
  opacity: 0.7;
}

nav #return {
  color: darkblue;
}

nav .active {
  opacity: 0.5;
}

#nav-info {
  margin-top: 10px;
  margin-bottom: 30px;
}

footer {
  width: 100%;
  height: auto;
  margin-top: auto;
  padding-top: 5px;
  padding-bottom: 5px;

  color: white;
  text-align: center;

  background-color: #535353;
}

.stat {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 20px;
}

.block-info {
  margin-left: 30px;
  padding: 5px;

  color: white;

  /* font-size: 25px; */
  text-align: center;
}

.seeall {
  display: inline-block;
  margin-top: 30px;

  text-align: right;
}

.stat a {
  flex: 1;
}

.block-info + .block-info {
  margin-left: 30px;
}

.alert {
  background-color: #d68584;
}

.info {
  background-color: #7a7fb4;
}

.success {
  background-color: #84b4c0;
}

.last-users ul {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 1fr;
  margin-bottom: 5px;
  padding: 3px;

  background-color: rgb(212, 212, 212);
}

.last-users li {
  display: table-cell;

  color: black;
  text-align: center;
  vertical-align: middle;

  list-style: none;
}

.button {
  display: inline-block;

  color: white;
  text-decoration: none;

  border: none;
  cursor: pointer;
}

.button:hover {
  opacity: 0.8;
}

.button--small {
  width: auto;
  padding: 5px !important;
}

.button--normal {
  width: auto;
  padding: 10px !important;
}

.button--border {
  width: auto;

  padding: 10px;

  color: grey;
  font-weight: bold;

  background-color: white;

  border: 2px solid grey;
}

.text-align-right {
  text-align: right;
}

.text-align-left {
  text-align: right;
}

.text-align-right .button,
.text-align-right .button {
  margin-top: 20px;
  margin-bottom: 20px;
}

table {
  width: 100%;

  table-layout: fixed;
  border-collapse: collapse;
}

thead th:nth-child(1) {
  width: 30%;
}

thead th:nth-child(2) {
  width: 20%;
}

thead th:nth-child(3) {
  width: 15%;
}

thead th:nth-child(4) {
  width: 35%;
}

th,
td {
  padding: 20px;
}

tbody td {
  text-align: center;
}

tfoot th {
  text-align: right;
}

tbody tr:nth-child(odd) {
  background-color: #ffffff;
}

tbody tr:nth-child(even) {
  background-color: #c4c4c4;
}

tbody tr {
  background-image: url(noise.png);
}

tr .open {
  color: rgb(0, 178, 0);
  font-weight: bold;
}

tr .answered {
  color: rgb(29, 38, 191);
  font-weight: bold;
}

tr .closed,
ul .closed {
  color: rgb(222, 5, 5) !important;
  font-weight: bold;
}

/* PAGE REPONSE A UN TICKET */

.messages-container {
  width: 95%;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 30px;

  background-color: white;
  border-radius: 10px;
}

.ticket-info {
  width: 100%;
  padding: 20px;
  padding-bottom: 5px;

  background-color: #354a5e;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.ticket-info ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ticket-info h2 {
  color: white;
}
.ticket-info li {
  color: #ff9900;
}

.message {
  display: flex;
  flex-direction: colomn;
  justify-content: space-between;
  width: 70%;
  margin: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 20px;

  border-radius: 10px;
}

.message--right {
  margin-left: auto;

  background-color: #e9f7ff;
}

.message--left {
  margin-right: auto;

  background-color: #e7fbe8;
}

.message-info {
  flex-grow: 1;
  flex-shrink: 0;
}

.message--left .message-info {
  margin-right: 20px;
}

.message--right .message-info {
  margin-left: 20px;
}

.message-info li:nth-child(2) {
  font-style: italic;
}

.message-info li:first-of-type {
}

.message-content {
  flex-grow: 8;
}

.message--right .message-content,
.message--left .message-info {
  order: 1;
}

.message--left .message-content,
.message--right .message-info {
  order: 2;
}

.reponse {
  display: flex;
  width: 100%;
  height: auto;
  padding: 30px;

  background-color: white;
  border-top: solid 1px grey;
}

.reponse i {
  flex-grow: 1;
  order: 1;
  margin: auto;
  padding: 10px;

  color: white;

  background-color: #354a5e;
  border-radius: 100px;
}

.contenu-message {
  flex-grow: 10;
  order: 0;
  margin-right: 30px;
  padding: 15px;
  overflow: auto;

  border-radius: 6px;
}

/* FIN REPONSE A UN TICKET */

#pagination-flickr ul {
  margin-left: auto;
}

#pagination-flickr li {
  margin: 0;
  padding: 0;

  font-size: 15px;

  list-style: none;
  border: 0;
}

#pagination-flickr a {
  margin-right: 2px;

  border: solid 1px #dddddd;
}

#pagination-flickr .previous-off,
#pagination-flickr .next-off {
  display: block;
  float: left;
  padding: 3px 4px;

  color: #666666;
  font-weight: bold;
}

#pagination-flickr .next a,
#pagination-flickr .previous a {
  font-weight: bold;

  border: solid 1px #ffffff;
}

#pagination-flickr .active {
  display: block;
  float: left;
  padding: 4px 6px;

  color: #ff0084;
  font-weight: bold;
}

#pagination-flickr a:link,
#pagination-flickr a:visited {
  display: block;
  float: left;
  padding: 3px 6px;

  color: #0063e3;
  text-decoration: none;
}

#pagination-flickr a:hover {
  border: solid 1px #666666;
}

/* SEE ONE MEMBER */

h2 .role {
  padding: 2px;

  color: white;
  font-size: 15px;
  font-style: none;
}

.user-information input,
.user-information select {
  margin-bottom: 20px;
  padding: 3px;
}
