/* CSS COMMUN*/
html{
	background-color: #fefefe;
}

header{
	display:flex;
	justify-content: space-between;
  align-items: flex-end;
  background-color: #fefefe;
  position:fixed;
  width:100%;
  top:0;


}

#logo_header{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

#logo_header img{
    width: 140px;
    height: 130px;
}

#titre_principal
{
    display: flex;
    flex-direction: column;
}

#bloc_page{
	font-family : Helvetica Neue;
	font-weight:300;
	margin:auto;
}

#loupe{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    width: 20px;
    height: 20px;
}


#bloc_page nav ul{
    list-style-type: none;
    display: flex;
}

#bloc_page nav li{
    margin-right: 15px;
}

#bloc_page nav a{
    font-size: 1.3em;
    color: #181818;
    padding-bottom: 3px;
    text-decoration: none;
}

#bloc_page nav a:hover{
    color: #439AA8;
    border-bottom: 3px solid #439AA8;
}

#logo_footer{
	display: flex;
    flex-direction: row;
    align-items: baseline;

}

body{
  font-family : Helvetica Neue;
  font-weight:300;
  /*margin-top:0px;*/
}




footer{
    font-family : Helvetica Neue;
    font-weight:300;
    margin:auto;
    color:#FFFFFF;
    min-height: 100%;
}

#footer_html{
    background:#39565c;
    display:flex;
    flex-direction: row;
    column-count: 5;
    justify-content:space-between;
    padding:10px;
    padding: 30px;
}

.column {
}

.column img{
    width: 140px;
    height: 130px;
}

#footer_html h2 {
  margin-top:40%;
  margin-bottom:12px;
  font-size:16px;
}


#footer_html ul {
  padding:0;
  list-style:none;
  line-height:1.6;
  font-size:14px;
  margin-bottom:0;
}

#footer_html ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

#footer_html ul a:hover {
  opacity:1;
}

#contenu{
    margin:0px;
    text-align: justify;
}

#copyright{
  background:#535353;
  padding:1px;
  text-align: center;
}
 /* CSS COMMUN */




/* DEBUT CSS DE CLEMENCE */

#bandeau
{
  align-content: center;
  margin-left: 100px;
}

#ligneun
{
  display: flex;
  flex-direction: row;
  justify-content: space-around; 
}


#lignedeux
{
  display: flex;
  flex-direction: row;
  justify-content: space-around; 
}



.phraseun
{
  display: flex;
  flex-wrap: wrap;
}

#texteun
{
  position: relative;
  left: 550px; 
  bottom: 350px;
  flex-wrap: wrap;
  text-align: justify;
  margin-right: 630px;
}

#dernierephoto
{
  position: relative;
  left: 1px;
  bottom: 350px;
  text-align: right;
  margin-right: 80px;
}

#textedeux
{
  position: relative;
  right: 1px;
  bottom: 150px;
  text-align: justify;
  flex-wrap: wrap;
  margin-right: 620px;
  margin-left:  40px;
}

.icones
{
  width: 100px;
  height: 100px;
}

#nosproduits
{
  display: flex;
  flex-direction: row;
  justify-content: space-around; 
  flex-wrap: wrap;
}

/* FIN DU CSS DE CLEMENCE */




/* DEBUT CSS DE CA */

.cadre_connexion {
  display: block;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-right: auto;
  padding-left: 30px;
  text-align: left;
  font-size: 17px;
  background-color: #fff;
  border: 1px solid grey;
  border-radius: 20px 20px;
  margin: 6% auto;
  width: 30%;
}

.cadre_inscription
{
  display: block;
  padding: 10px;
  padding-left: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-right: 30px;
  text-align: left;
  background-color: #fff;
  border: 1px solid grey;
  border-radius: 20px 20px;
  margin: 6% auto;
  width: 30%;
}

h1 { /* header*/
  text-align: center;
  background-color: #2BAEBD;
  border: 2px solid black;
  top: 0;
  position: sticky;
  z-index: 1;
  margin: 0;
}

#footer {
  text-align: center;
  background-color: #2BAEBD;
  border: 2px solid black;
  }

#essai99{
  text-decoration: none;
}

#centre_page {
  align-content: center;
  width: 100%;
  margin: auto; 
  text-align: center; 
  background-image: url('../images/fond_page.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

}

/*#fond_2_page {
  top: 0;
  position: sticky;
  z-index: -1;
  max-height: 70%;
}
*/
input { /*Champs de texte a remplir*/
  border: 1.5px solid;
  border-radius: 20px 20px;
  padding-right: 80px;
  padding-left: 20px;
  padding-bottom:10px;
  padding-top: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.but_co {
  border: 1px solid #23646b;
  border-radius: 10px 10px;
  margin-left: 30%;
  margin-right: 25%;
  margin-bottom: 30px;
  font-size: medium;
  color: white;
  background-color: #23646b; /*https://htmlcolorcodes.com/fr/*/
  letter-spacing: 1px;
  padding: 10px 20px;
}

.taille_text {
  font-size: 14px;
}

.but_inscription {
  border: 1px solid #23646b;
  border-radius: 10px 10px;
  margin-left: 30%;
  margin-right: 30%;
  margin-bottom: 30px;
  display: block;
  font-size: medium;
  background-color: #23646b; /*https://htmlcolorcodes.com/fr/*/
  color: white;
  letter-spacing: 1.5px;
  text-decoration: none;
  padding: 10px 20px;
}

#connexion
{
  letter-spacing: 1px;
}

#inscription
  {
  letter-spacing: 1px;  
}
/*------------------------Partie FAQ-----------------------------------------*/
.question{
    text-align: left;
    text-align: justify;
    border: 1px solid;
    padding: 20px;
    border-bottom-right-radius: 40px 40px;
    border-bottom-left-radius: 40px 40px;
    border-top-right-radius: 40px 40px;
    padding-left: 1.5em;
    margin-right: 30%;
    margin-bottom: 4%;
    background-color: #F1F1FB;
}

#q_r {
    padding-left: 5em;
    padding-right: 5em;
    margin-bottom: 150px;
    background: white;
}

.reponse{
    text-align: left;
    text-align: justify;
    border: 1px solid;
    padding: 10px;
    padding-left: 30px;
    padding-bottom: 20px;
    padding-right: 1.5em;
    padding-top: 0.9em;
    border-top-left-radius: 40px 40px;
    border-bottom-right-radius: 40px 40px;
    border-bottom-left-radius: 40px 40px;  
    margin-left: 30%;
    margin-bottom: 4%;
    background-color: #F1F1FB;
}

#titre2 {
    padding-left: 1em;
    padding-right: 1em;
    font-weight: 300;

}
#carte_FAQ {
    width: auto;
    margin: 1%;
    align-content: center;    
}
.images {
    top: 0;
    position: sticky;
    z-index: -1;
}

@media screen and (max-width:800px) {
    #q_r {
        width: 85%;
        font-size: 13px;
    }
    #titre2 {
        font-size: 25px;
    }

    
}
/* FIN DU CSS DE CA */



/* DEBUT CSS DE PAUL */


/* FIN DU CSS DE PAUL */
