body
{
  font-family: "Helvetica Neue";
  /*margin: 0 auto;*/
}

.cadre_connexion {
  /*display: block;*/
  /*height: auto;*/
  /*padding: 10px;*/
  /*padding-left: 20px;
  padding-top: 30px;
  padding-bottom: 40px;
  padding-right: 30px;*/
  padding-top: 40px;
  padding-bottom: 40px;
  padding-right: auto;
  padding-left: 30px;

  text-align: left;
  font-size: medium;
  background-color: #B8DDE1;

  border: 2px solid;
  border-top-left-radius: 20px 20px;
  border-top-right-radius: 20px 20px;
  border-bottom-right-radius: 20px 20px;
  border-bottom-left-radius: 20px 20px;

  margin-top: 80px;
  margin-right: 450px;
  margin-bottom: 70px;
  margin-left: 450px;
}

.cadre_inscription
{
 /* display: block;
  height: auto;*/

  padding: 10px;
  padding-left: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-right: 30px;

  text-align: left;
  font-size: medium;
  background-color: #B8DDE1;

  border: 2px solid;
  border-top-left-radius: 20px 20px;
  border-top-right-radius: 20px 20px;
  border-bottom-right-radius: 20px 20px;
  border-bottom-left-radius: 20px 20px;

  margin-top: 120px;
  margin-right: 400px;
  margin-bottom: 70px;
  margin-left: 400px;

}


h1 { /* header*/
  text-align: center;
  background-color: #2BAEBD;
  border: 2px solid black;
}
#footer {
  text-align: center;
  background-color: #2BAEBD;
  border: 2px solid black;
}
#centre_page {

  align-content: center;
  width: 1350px; /*largeur du bloc de 800pixel*/
  margin: 0 auto; /*place cette zone au milieu de la page*/
  /*margin-top: 0;
  margin-bottom: 0;*/
  text-align: center; /*  centre le texte */
  /*background-color: white; /*couleur du fond de ce bloc de 800px au mileu doit etre blanc*/
  background-image: url('aircraft.png')

}

input { /*Champs de texte a remplir*/
  border: 1.5px solid;
  border-top-left-radius: 20px 20px;
  border-top-right-radius: 20px 20px;
  border-bottom-right-radius: 20px 20px;
  border-bottom-left-radius: 20px 20px;

  padding-right: 80px;
  padding-left: 20px;
  padding-bottom:10px;
  padding-top: 10px;

  margin-top: 20px;
  margin-bottom: 20px;
}

.but_co {
  border: 1.5px solid;
  border-top-left-radius: 20px 20px;
  border-top-right-radius: 20px 20px;
  border-bottom-right-radius: 20px 20px;
  border-bottom-left-radius: 20px 20px;

  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 110px;

  font-size: medium;
  background-color: #2BAEBD; /*https://htmlcolorcodes.com/fr/*/

  padding-right: 20px;
  padding-left: 20px;
  padding-bottom:10px;
  padding-top: 10px;
 

}

.but_inscription {
  border: 1.5px solid;
  border-top-left-radius: 20px 20px;
  border-top-right-radius: 20px 20px;
  border-bottom-right-radius: 20px 20px;
  border-bottom-left-radius: 20px 20px;

  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 210px;

  font-size: medium;
  background-color: #2BAEBD; /*https://htmlcolorcodes.com/fr/*/

  padding-right: 20px;
  padding-left: 20px;
  padding-bottom:10px;
  padding-top: 10px;
 

}

#connexion
{
  font-size: large;
  /*text-align: center;*/
  margin-bottom: 30px;
  margin-top: 30px;
  /*margin-left: 30px;*/
  /*align-content: center;*/
  border: 2px solid black;
  border-top-left-radius: 10px 10px;
  border-top-right-radius: 10px 10px;
  border-bottom-right-radius: 10px 10px;
  border-bottom-left-radius: 10px 10px;
  background-color: #2BAEBD;
  padding: 10px; 

}

#inscription
  {
  font-size: large;
  /*text-align: center;*/
  margin-bottom: 30px;
  margin-top: 30px;
  /*margin-left: 30px;*/
  /*align-content: center;*/
  border: 2px solid black;
  border-top-left-radius: 10px 10px;
  border-top-right-radius: 10px 10px;
  border-bottom-right-radius: 10px 10px;
  border-bottom-left-radius: 10px 10px;
  background-color: #2BAEBD;
  padding: 10px; 

}












/*-------------------------------------------------------------------*/

/* Partie FAQ */

.question
{
  text-align: left;
  border: 1px solid;
  padding:20px;
  /*padding-bottom: 20px;*/
  border-top-left-radius: 30px 30px; 
  border-bottom-right-radius: 30px 30px; 
  border-bottom-left-radius: 30px 30px; 
  border-top-right-radius: 30px 30px; 
  /*margin-right: auto;*/
  padding-left: 1.5em;
  margin-right: 350px;
  margin-bottom: 40px;
  background-color: #DCEAE8;

}

#q_r
{
  padding-left: 5em;
    padding-right: 5em;
    margin-bottom: 150px;
    margin-top:80px;
    /*background-image: url("Stylo.jpg");*/
}

.reponse
{

  text-align: left;
  border: 1px solid;
  padding: 10px;
  padding-left: 30px;
  padding-bottom: 20px;
  border-top-left-radius: 30px 30px; 
  border-bottom-right-radius: 30px 30px; 
  border-bottom-left-radius: 30px 30px; 
  border-top-right-radius: 30px 30px; 
  padding-right: 1.5em;
  padding-top: 0.9em;
  /*display: block;*/
  margin-left: 350px;
  margin-bottom: 40px;
  background-color: #DCEAE8;

}
#test
{
  text-align: right;
  font-style: normal;
}

#titre2
{
  padding-left: 1em;
    padding-right: 1em;
}

#FOOTER
{
  border : 2px solid;
  background-color: #aeb8de; 
  text-align: center;
}

#carte_FAQ
{
  width: 1300px; /*largeur du bloc de 800pixel*/
  margin:0 auto; /*place cette zone au milieu de la page*/
  background-color: #aeb8de ;
  align-content: center;
  /*font-family: "Helvetica Neue";*/
}
/*img
{
  align-content: center;  ne fonctionne pas */
  /*margin-left: auto;
  margin-right: 100px; 

}*/

/*img
{
  margin-left: 20px;

}*/

