body
{    
	font-family: "Helvetica Neue";
	color: #788181;
	background-image: 
}

#teamworking
{

	width: 100%;
	background-attachment: fixed;
	background-repeat: no-repeat;
	top: 0;
}
 
#blanc
{
	margin-top: 70px;
	background-color: white;
	background-attachment: local;
}

.photo
{
	display: flex; 
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#presentation 
{
	text-align: justify; 
	margin-right: 50px;
	margin-left: 50px; 
}

#ligneun
{
	display: flex;
	flex-direction: row;
	justify-content: space-around; 
}


#lignedeux
{
	display: flex;
	flex-direction: row;
	justify-content: space-around; 
}

#travailenequipe
{
	margin-left: 80px;
}
#texteun
{
	position: relative;
	left: 600px; 
	bottom: 350px;
	text-align: justify;
	margin-right: 680px;
	margin-left: 1px;

}

#dernierephoto
{
	position: relative;
	left: 1px;
	bottom: 350px;
	text-align: right;
	margin-right: 80px;
}

#textedeux
{
	position: relative;
	right: 1px;
	bottom: 100px;
	text-align: justify;
	margin-right: 620px;
	margin-left:  80px;
}

#pilotes
{
	width: 100%
}

#carte
{
	background-color: white; 

}

.icones
{
	width: 100px;
	height: 100px;
}

#troisetapes
{
	display: flex;
	justify-content: space-around; 
}

#iconegauche
{
	margin-left: 200px;
}

#iconecentre
{
	margin-left: 200px;
}

#iconedroit
{
	margin-left: 170px; 
}

#textegauche
{
	text-align: justify; 
	margin-left: 95px; 
	margin-right: 95px; 
}

#textecentre
{
	text-align: justify;
	margin-right: 95px;
	margin-left: 95px;
}

#textedroite 
{
	text-align: justify; 
	margin-left: 95px;
	margin-right: 95px; 
}

#defileavion
{
	width: 100%; 
}

#logo-isep
{
	position: relative;
	height: 12%;
}

#infinite-measures
{
	position: relative;
	height: 25%
}

#logo-armee
{
	position: relative;
	height: 15%;
}

#nosclients
{
	display: flex;
	justify-content: space-around;
}