body
{    
	font-family: "Helvetica Neue";
	color: #788181;
}

#bandeau
{
	align-content: center;
	margin-left: 100px;
}

#ligneun
{
	display: flex;
	flex-direction: row;
	justify-content: space-around; 
}


#lignedeux
{
	display: flex;
	flex-direction: row;
	justify-content: space-around; 
}



.phraseun
{
	display: flex;
	flex-wrap: wrap;
}

#texteun
{
	position: relative;
	left: 550px; 
	bottom: 350px;
	flex-wrap: wrap;
	text-align: justify;
	margin-right: 630px;
}

#dernierephoto
{
	position: relative;
	left: 1px;
	bottom: 350px;
	text-align: right;
	margin-right: 80px;
}

#textedeux
{
	position: relative;
	right: 1px;
	bottom: 150px;
	text-align: justify;
	flex-wrap: wrap;
	margin-right: 620px;
	margin-left:  40px;
}

.icones
{
	width: 100px;
	height: 100px;
}

#nosproduits
{
	display: flex;
	flex-direction: row;
	justify-content: space-around; 
	flex-wrap: wrap;
}

