html{
	background-color: #fefefe;
}

header{
	display:flex;
	justify-content: space-between;
    align-items: flex-end;
}

#logo_header{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

#logo_header img{
    width: 140px;
    height: 130px;
}

#titre_principal
{
    display: flex;
    flex-direction: column;
}

#bloc_page{
	font-family : Helvetica Neue;
	font-weight:300;
	margin:auto;
}

#loupe{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    width: 20px;
    height: 20px;
}


#bloc_page nav ul{
    list-style-type: none;
    display: flex;
}

#bloc_page nav li{
    margin-right: 15px;
}

#bloc_page nav a{
    font-size: 1.3em;
    color: #181818;
    padding-bottom: 3px;
    text-decoration: none;
}

#bloc_page nav a:hover{
    color: #439AA8;
    border-bottom: 3px solid #439AA8;
}

#logo_footer{
	display: flex;
    flex-direction: row;
    align-items: baseline;

}

footer{
    font-family : Helvetica Neue;
    font-weight:300;
    margin:auto;
    color:#FFFFFF;
    min-height: 100%;
}

#footer_html{
    background:#39565c;
    display:flex;
    column-count: 5;
    justify-content: space-between;
    padding:10px;
}

#allies_contact img{
    width: 140px;
    height: 130px;
}

#footer_html h2 {
  margin-top:40%;
  margin-bottom:12px;
  font-size:16px;
}


#footer_html ul {
  padding:0;
  list-style:none;
  line-height:1.6;
  font-size:14px;
  margin-bottom:0;
}

#footer_html ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

#footer_html ul a:hover {
  opacity:1;
}

#contenu{
    margin:0px;
    text-align: justify;
}

#copyright{
  background:#535353;
  padding:1px;
  text-align: center;
}




